<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Città</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of contatti">
      <th>{{ item.name }}</th>
      <td>{{ item.lastname }}</td>
      <td>{{ item.city }}</td>
      <td>{{ item.number }}</td>
      <td><button>delete</button></td>
      <td><button>details</button></td>
    </tr>
  </tbody>
</table>
